body {
    background-color: black;
}


.footer {


    width: 100%;
    margin: 0%;
    text-align: center;
    text-indent: 3ch;
    font-family: 'Roboto Condensed', sans-serif;
    color: salmon;
}